@charset "utf-8";

.header-info {
  display: block;
  position: relative;
  margin: 10px 0;
}

.header-info-name {
  font-size: 2em;
  font-weight: bold;}

.header-info-desc {
  font-size: 0.9em;
}

.header-main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left; /* 确保菜单项靠左对齐 */
}

.header-main-nav-item {
  display: block;
  position: relative;
  float: left;
  line-height: 24px;
  margin-right: 10px; /* 仅设置右外边距 */
}

/* 针对第一个菜单项，确保其左外边距为 0 */
.header-main-nav-item:first-child {
  margin-left: 0;
}