@charset "utf-8";

@media screen and (max-width: 768px) {
  /* reset default styles */

  /* 全局设置 box-sizing */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* 为 body 添加左右内边距 */

  body {
    padding-left: 15px;
    padding-right: 15px;
  }

  img {
    width: 100%;
    max-width: 300px;
  }

  /* Posts list */
  .list-pagination {
    margin: 10px 0 5px 0;
  }

  /* Footer */
  .footer-copyright .float-left,
  .footer-copyright .float-right {
    float: none;
  }
}
