@charset "utf-8";

.page-title {
  text-align: center;
}

.page-author {
  display: none;
}

.page-content p {
  line-height: 21px;
}

.page-content img {
  display: block;
  margin: 10px auto 5px;
}

/* 新增：為圖片說明添加樣式 */
.page-content img + center {
  margin-top: -5px; /* 使用負 margin 來進一步減少距離 */
}

.page-content center small {
  display: block;
  font-size: 0.9em; /* 可選：調整字體大小 */
  color: #666; /* 可選：調整文字顏色 */
  line-height: 1.2; /* 調整行高 */
}