@charset "utf-8";

.page-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 21px;
}

.page-author {
  display: none;
}

.page-content p {
  line-height: 21px;
}

.page-content img {
  display: block;
  margin: 10px auto;
}

/* 添加分类列表的样式 */
.categories-list {
    margin-top: 0;            /* 上边距为0，避免与标题的margin重叠 */
    margin-bottom: 21px;       /* 与下方内容的间距为21px */
}
