@charset "utf-8";

.post-title {
  text-align: center;
}

.post-content {
  /* 当内容超出宽度时自动换行 */
  word-wrap: break-word; /* 或者使用 overflow-wrap: break-word; */
  word-break: break-all; /* 对于中文长句的换行 */
}

.post-content p {
  line-height: 20px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
