@charset "utf-8";

.post-title {
  text-align: center;
}

.post-content {
  /* 當內容超出寬度時自動換行 */
  overflow-wrap: break-word; /* 替代 word-wrap: break-word; */
  word-break: normal; /* 替代 word-break: break-all; */
  hyphens: auto; /* 在適當的地方添加連字符 */

  padding-top: 21px;
  padding-bottom: 8.964px;
}

.post-content p {
  line-height: 21px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-info {
  line-height: 24px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px 0 0; /* 上下外边距为 0，右外边距为 5px，左外边距为 0 */
}

.post-category:first-child,
.post-tag:first-child {
  margin-left: 0; /* 确保第一个分类或标签的左外边距为 0 */
}