@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

html, body {
    width: 100%;
}

body {
    line-height: 1.5;
    max-width: 65ch;
    margin: 0 auto; /* 使內容居中 */
}

a {
    text-decoration: underline;
    color: #3273dc;
}

a:hover {
    color: #3273dc;
}

nav a {
    text-decoration: none;
}

nav a.active {
    text-decoration: underline;
}

blockquote {
    margin: 15px;
    padding-left: 15px;
    border-left: 2px solid #888;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.4em;
    line-height: 1.2;
    margin: 21px 0;
    text-indent: 0;
}

hr {
    margin: 10px;
    border: 1px solid #eee;
}

img {
    max-width: 700px;
}

ol, ul {
    margin-left: 35px;
    margin-bottom: 21px;
    padding-top: 0;
    padding-bottom: 0;
}

li {
    margin-bottom: 0; /* 移除列表項之間的垂直間距 */
}

/* 確保列表中的最後一個項目不會有底部邊距 */
li:last-child {
    margin-bottom: 0;
}

/* 消除嵌套列表的額外邊距 */
li > ul,
li > ol {
    margin-bottom: 0;
    margin-top: 0;
}

/* 消除相鄰列表之間的額外邊距 */
ul + ul,
ol + ol,
ul + ol,
ol + ul {
    margin-top: -21px;
}

p {
    margin-bottom: 21px;
}

table {
    width: 100%;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
}

a.reversefootnote {
    display: none;
}